pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "lookuptablelist",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT  [sourceschema]\n      ,[sourcetable]\n      ,[targetschema]\n      ,[targettable]\n      ,[runflag]\n  FROM [dbo].[param_table]\n  where runflag='Y'"
					},
					"dataset": {
						"referenceName": "AzureDynamicTarget",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "lookuptablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Worker",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Tablelist": {
							"value": "@activity('lookuptablelist').output.value",
							"type": "Expression"
						},
						"ParentPipelineID": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Stored Procedure1",
				"type": "SqlServerStoredProcedure",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_logging]",
					"storedProcedureParameters": {
						"parentpipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"proceduretype": {
							"value": "Master",
							"type": "String"
						},
						"sourceschemaname": {
							"value": null,
							"type": "String"
						},
						"sourceTablename": {
							"value": null,
							"type": "String"
						},
						"status": {
							"value": "Running",
							"type": "String"
						},
						"targetschemaname": {
							"value": null,
							"type": "String"
						},
						"targetTablename": {
							"value": null,
							"type": "String"
						},
						"triggertime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DWH_test",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored Procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_logging]",
					"storedProcedureParameters": {
						"parentpipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipelineID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"proceduretype": {
							"value": "Master",
							"type": "String"
						},
						"sourceschemaname": {
							"value": null,
							"type": "String"
						},
						"sourceTablename": {
							"value": null,
							"type": "String"
						},
						"status": {
							"value": {
								"value": "@{activity('Execute Pipeline1').status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"targetschemaname": {
							"value": null,
							"type": "String"
						},
						"targetTablename": {
							"value": null,
							"type": "String"
						},
						"triggertime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DWH_test",
					"type": "LinkedServiceReference"
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}