ADFunigroV2/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "ADFunigroV2"
		},
		"DWH_prod_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DWH_prod'"
		},
		"DWH_test_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'DWH_test'"
		},
		"Oracle1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Oracle1'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_y13')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_y13",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Destination",
								"value": "[concat('[', 'dbo].[STA_Product]')]"
							}
						],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "select * from U_BI_PRODUCT"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": "1000"
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"dataIntegrationUnits": 0,
							"translator": {
								"type": "TabularTranslator",
								"columnMappings": {
									"ITEMNUMBER": "ITEMNUMBER",
									"PRODUCTTYPE": "PRODUCTTYPE",
									"CHAPEAU": "CHAPEAU",
									"PRODUCTTYPEDESCFR": "PRODUCTTYPEDESCFR",
									"PRODUCTTYPEDESCNL": "PRODUCTTYPEDESCNL",
									"MOUNTING": "MOUNTING",
									"MOUNTINGTIME": "MOUNTINGTIME",
									"MOUNTINGLOCATION": "MOUNTINGLOCATION",
									"DESCRIPTIONFR": "DESCRIPTIONFR",
									"DESCRIPTIONNL": "DESCRIPTIONNL",
									"LENGTH": "LENGTH",
									"WIDTH": "WIDTH",
									"HEIGHT": "HEIGHT",
									"VOLUME": "VOLUME",
									"WEIGHT": "WEIGHT",
									"NETWEIGHT": "NETWEIGHT",
									"SUPPLIER": "SUPPLIER",
									"COLLISIMABLE": "COLLISIMABLE",
									"DELIVERY": "DELIVERY",
									"DELIVERYDESCFR": "DELIVERYDESCFR",
									"DELIVERYDESCNL": "DELIVERYDESCNL",
									"LEVEL1": "LEVEL1",
									"LEVEL1DESCFR": "LEVEL1DESCFR",
									"LEVEL1DESCNL": "LEVEL1DESCNL",
									"LEVEL2": "LEVEL2",
									"LEVEL2DESCFR": "LEVEL2DESCFR",
									"LEVEL2DESCNL": "LEVEL2DESCNL",
									"LEVEL3": "LEVEL3",
									"LEVEL3DESCFR": "LEVEL3DESCFR",
									"LEVEL3DESCNL": "LEVEL3DESCNL",
									"LEVEL4": "LEVEL4",
									"LEVEL4DESCFR": "LEVEL4DESCFR",
									"LEVEL4DESCNL": "LEVEL4DESCNL",
									"LEVEL5": "LEVEL5",
									"LEVEL5DESCFR": "LEVEL5DESCFR",
									"LEVEL5DESCNL": "LEVEL5DESCNL",
									"INSURED": "INSURED",
									"DANGEROUSGOOD": "DANGEROUSGOOD",
									"DANGEROUSGOODDESCFR": "DANGEROUSGOODDESCFR",
									"DANGEROUSGOODDESCNL": "DANGEROUSGOODDESCNL",
									"HEATRESISTANT": "HEATRESISTANT",
									"BUYER": "BUYER",
									"NUMBEROFPARCELS": "NUMBEROFPARCELS",
									"GIFTTYPE": "GIFTTYPE",
									"GIFTTYPEDESCFR": "GIFTTYPEDESCFR",
									"GIFTTYPEDESCNL": "GIFTTYPEDESCNL",
									"ITEM": "ITEM",
									"PICKINGMODALITY": "PICKINGMODALITY",
									"PICKINGMODALITYDESCFR": "PICKINGMODALITYDESCFR",
									"PICKINGMODALITYDESCNL": "PICKINGMODALITYDESCNL",
									"STOCKTYPE": "STOCKTYPE",
									"TREATMENTCODE": "TREATMENTCODE",
									"ALLOWEDONWEB": "ALLOWEDONWEB",
									"CIRCUIT": "CIRCUIT",
									"SUISTOCK": "SUISTOCK",
									"TYPEDEPART": "TYPEDEPART",
									"AV": "AV",
									"LDF": "LDF",
									"STATUS": "STATUS",
									"STATUSDESCFR": "STATUSDESCFR",
									"STATUSDESCNL": "STATUSDESCNL",
									"EAN": "EAN",
									"EANLOG": "EANLOG",
									"BRAND": "BRAND",
									"BRANDDESCFR": "BRANDDESCFR",
									"BRANDDESCNL": "BRANDDESCNL",
									"MODELNUMBER": "MODELNUMBER",
									"FOSTPLUS": "FOSTPLUS",
									"VALORLUX": "VALORLUX",
									"BEBATCODE1": "BEBATCODE1",
									"BEBATFAMILY1": "BEBATFAMILY1",
									"BEBATTYPE1": "BEBATTYPE1",
									"BEBATQUANTITY1": "BEBATQUANTITY1",
									"BEBATCODE2": "BEBATCODE2",
									"BEBATFAMILY2": "BEBATFAMILY2",
									"BEBATTYPE2": "BEBATTYPE2",
									"BEBATQUANTITY2": "BEBATQUANTITY2",
									"BEBATCODE3": "BEBATCODE3",
									"BEBATFAMILY3": "BEBATFAMILY3",
									"BEBATTYPE3": "BEBATTYPE3",
									"BEBATQUANTITY3": "BEBATQUANTITY3",
									"ABCCLASSIFICATION": "ABCCLASSIFICATION",
									"FOODCONTACT": "FOODCONTACT",
									"FOODSUPPLEMENT": "FOODSUPPLEMENT",
									"FOODONLY": "FOODONLY",
									"COSMETIC": "COSMETIC",
									"ENERGIESIGN": "ENERGIESIGN",
									"SARVALUEGSM": "SARVALUEGSM",
									"MEDICALUSE": "MEDICLAUSE",
									"NUMBERMONTHSWARUNIGRO": "NUMBERMONTHSWARUNIGRO",
									"TYPEWARRANTY": "TYPEWARRANTY",
									"NUMBERMONTHSWARMANU1": "NUMBERMONTHSWARMANU1",
									"TYPEWARRANTEE1": "TYPEWARRANTEE1",
									"NUMBERMONTHSWARMANU2": "NUMBERMONTHSWARMANU2",
									"TYPEWARRANTEE2": "TYPEWARRANTEE2",
									"NUMBERMONTHSWARMANU3": "NUMBERMONTHSWARMANU3",
									"TYPEWARRANTEE3": "TYPEWARRANTEE3",
									"NISCODE": "NISCODE",
									"APPROVISIONNEUR": "APPROVISIONEUR",
									"PRODUITCOMPOSE": "PRODUITCOMPOSE",
									"FORMAT": "FORMAT",
									"MDL": "MDL",
									"MODIFICATIONDATE": "MODIFICATIONDATE"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_y13",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_y13",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_y13')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_y13')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookuptablelist",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Stored Procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT  [sourceschema]\n      ,[sourcetable]\n      ,[targetschema]\n      ,[targettable]\n      ,[runflag]\n  FROM [dbo].[param_table]\n  where runflag='Y'"
							},
							"dataset": {
								"referenceName": "AzureDynamicTarget",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "lookuptablelist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Worker",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Tablelist": {
									"value": "@activity('lookuptablelist').output.value",
									"type": "Expression"
								},
								"ParentPipelineID": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Stored Procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[sp_logging]')]",
							"storedProcedureParameters": {
								"parentpipelineID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"proceduretype": {
									"value": "Master",
									"type": "String"
								},
								"sourceschemaname": {
									"value": null,
									"type": "String"
								},
								"sourceTablename": {
									"value": null,
									"type": "String"
								},
								"status": {
									"value": "Running",
									"type": "String"
								},
								"targetschemaname": {
									"value": null,
									"type": "String"
								},
								"targetTablename": {
									"value": null,
									"type": "String"
								},
								"triggertime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DWH_test",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Stored Procedure2",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'dbo].[sp_logging]')]",
							"storedProcedureParameters": {
								"parentpipelineID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipelineID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"proceduretype": {
									"value": "Master",
									"type": "String"
								},
								"sourceschemaname": {
									"value": null,
									"type": "String"
								},
								"sourceTablename": {
									"value": null,
									"type": "String"
								},
								"status": {
									"value": {
										"value": "@{activity('Execute Pipeline1').status}",
										"type": "Expression"
									},
									"type": "String"
								},
								"targetschemaname": {
									"value": null,
									"type": "String"
								},
								"targetTablename": {
									"value": null,
									"type": "String"
								},
								"triggertime": {
									"value": {
										"value": "@pipeline().TriggerTime",
										"type": "Expression"
									},
									"type": "DateTime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "DWH_test",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureDynamicTarget')]",
				"[concat(variables('factoryId'), '/pipelines/Worker')]",
				"[concat(variables('factoryId'), '/linkedServices/DWH_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Worker')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.Tablelist",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "TranferData",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Stored Procedure1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "select * from @{item().sourceschema}.@{item().sourcetable}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "SqlSink",
											"writeBatchSize": 10000
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "OracleDynamicSource",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "AzureDynamicTarget",
											"type": "DatasetReference",
											"parameters": {
												"DWtablename": {
													"value": "[concat('[', '@{item().targetschema}].[@{item().targettable}]')]",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Stored Procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[concat('[', 'dbo].[sp_logging]')]",
										"storedProcedureParameters": {
											"parentpipelineID": {
												"value": {
													"value": "@pipeline().parameters.ParentPipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"proceduretype": {
												"value": "Worker",
												"type": "String"
											},
											"sourceschemaname": {
												"value": {
													"value": "@{item().sourceschema}",
													"type": "Expression"
												},
												"type": "String"
											},
											"sourceTablename": {
												"value": {
													"value": "@{item().sourcetable}",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": "running",
												"type": "String"
											},
											"targetschemaname": {
												"value": {
													"value": "@{item().targetschema}",
													"type": "Expression"
												},
												"type": "String"
											},
											"targetTablename": {
												"value": {
													"value": "@{item().targettable}",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggertime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DWH_test",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stored Procedure2",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "TranferData",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[concat('[', 'dbo].[sp_logging]')]",
										"storedProcedureParameters": {
											"parentpipelineID": {
												"value": {
													"value": "@pipeline().parameters.ParentPipelineID",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"proceduretype": {
												"value": "Worker",
												"type": "String"
											},
											"sourceschemaname": {
												"value": {
													"value": "@{item().sourceschema}",
													"type": "Expression"
												},
												"type": "String"
											},
											"sourceTablename": {
												"value": {
													"value": "@{item().sourcetable}",
													"type": "Expression"
												},
												"type": "String"
											},
											"status": {
												"value": {
													"value": "@activity('TranferData').status",
													"type": "Expression"
												},
												"type": "String"
											},
											"targetschemaname": {
												"value": {
													"value": "@{item().targetschema}",
													"type": "Expression"
												},
												"type": "String"
											},
											"targetTablename": {
												"value": {
													"value": "@{item().targettable}",
													"type": "Expression"
												},
												"type": "String"
											},
											"triggertime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "DWH_test",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"Tablelist": {
						"type": "Array"
					},
					"ParentPipelineID": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OracleDynamicSource')]",
				"[concat(variables('factoryId'), '/datasets/AzureDynamicTarget')]",
				"[concat(variables('factoryId'), '/linkedServices/DWH_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDynamicTarget')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_test",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"DWtablename": {
						"type": "String",
						"defaultValue": "dummy"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().DWtablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_y13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DWH_prod",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"structure": [
					{
						"name": "ITEMNUMBER",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPE",
						"type": "String"
					},
					{
						"name": "CHAPEAU",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPEDESCFR",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPEDESCNL",
						"type": "String"
					},
					{
						"name": "MOUNTING",
						"type": "String"
					},
					{
						"name": "MOUNTINGTIME",
						"type": "Decimal"
					},
					{
						"name": "MOUNTINGLOCATION",
						"type": "String"
					},
					{
						"name": "DESCRIPTIONFR",
						"type": "String"
					},
					{
						"name": "DESCRIPTIONNL",
						"type": "String"
					},
					{
						"name": "LENGTH",
						"type": "Decimal"
					},
					{
						"name": "WIDTH",
						"type": "Decimal"
					},
					{
						"name": "HEIGHT",
						"type": "Decimal"
					},
					{
						"name": "VOLUME",
						"type": "Decimal"
					},
					{
						"name": "WEIGHT",
						"type": "Decimal"
					},
					{
						"name": "NETWEIGHT",
						"type": "Decimal"
					},
					{
						"name": "SUPPLIER",
						"type": "String"
					},
					{
						"name": "COLLISIMABLE",
						"type": "String"
					},
					{
						"name": "DELIVERY",
						"type": "String"
					},
					{
						"name": "DELIVERYDESCFR",
						"type": "String"
					},
					{
						"name": "DELIVERYDESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL1",
						"type": "String"
					},
					{
						"name": "LEVEL1DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL1DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL2",
						"type": "String"
					},
					{
						"name": "LEVEL2DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL2DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL3",
						"type": "String"
					},
					{
						"name": "LEVEL3DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL3DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL4",
						"type": "String"
					},
					{
						"name": "LEVEL4DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL4DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL5",
						"type": "String"
					},
					{
						"name": "LEVEL5DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL5DESCNL",
						"type": "String"
					},
					{
						"name": "INSURED",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOOD",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOODDESCFR",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOODDESCNL",
						"type": "String"
					},
					{
						"name": "HEATRESISTANT",
						"type": "String"
					},
					{
						"name": "BUYER",
						"type": "String"
					},
					{
						"name": "NUMBEROFPARCELS",
						"type": "String"
					},
					{
						"name": "GIFTTYPE",
						"type": "String"
					},
					{
						"name": "GIFTTYPEDESCFR",
						"type": "String"
					},
					{
						"name": "GIFTTYPEDESCNL",
						"type": "String"
					},
					{
						"name": "ITEM",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITY",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITYDESCFR",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITYDESCNL",
						"type": "String"
					},
					{
						"name": "STOCKTYPE",
						"type": "String"
					},
					{
						"name": "TREATMENTCODE",
						"type": "String"
					},
					{
						"name": "ALLOWEDONWEB",
						"type": "String"
					},
					{
						"name": "CIRCUIT",
						"type": "String"
					},
					{
						"name": "SUISTOCK",
						"type": "String"
					},
					{
						"name": "TYPEDEPART",
						"type": "String"
					},
					{
						"name": "AV",
						"type": "String"
					},
					{
						"name": "LDF",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "STATUSDESCFR",
						"type": "String"
					},
					{
						"name": "STATUSDESCNL",
						"type": "String"
					},
					{
						"name": "EAN",
						"type": "String"
					},
					{
						"name": "EANLOG",
						"type": "String"
					},
					{
						"name": "BRAND",
						"type": "String"
					},
					{
						"name": "BRANDDESCFR",
						"type": "String"
					},
					{
						"name": "BRANDDESCNL",
						"type": "String"
					},
					{
						"name": "MODELNUMBER",
						"type": "String"
					},
					{
						"name": "FOSTPLUS",
						"type": "String"
					},
					{
						"name": "VALORLUX",
						"type": "String"
					},
					{
						"name": "BEBATCODE1",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY1",
						"type": "String"
					},
					{
						"name": "BEBATTYPE1",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY1",
						"type": "String"
					},
					{
						"name": "BEBATCODE2",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY2",
						"type": "String"
					},
					{
						"name": "BEBATTYPE2",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY2",
						"type": "String"
					},
					{
						"name": "BEBATCODE3",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY3",
						"type": "String"
					},
					{
						"name": "BEBATTYPE3",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY3",
						"type": "String"
					},
					{
						"name": "ABCCLASSIFICATION",
						"type": "String"
					},
					{
						"name": "FOODCONTACT",
						"type": "String"
					},
					{
						"name": "FOODSUPPLEMENT",
						"type": "String"
					},
					{
						"name": "FOODONLY",
						"type": "String"
					},
					{
						"name": "COSMETIC",
						"type": "String"
					},
					{
						"name": "ENERGIESIGN",
						"type": "String"
					},
					{
						"name": "SARVALUEGSM",
						"type": "String"
					},
					{
						"name": "MEDICLAUSE",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARUNIGRO",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTY",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU1",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE1",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU2",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE2",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU3",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE3",
						"type": "String"
					},
					{
						"name": "NISCODE",
						"type": "String"
					},
					{
						"name": "APPROVISIONEUR",
						"type": "String"
					},
					{
						"name": "PRODUITCOMPOSE",
						"type": "String"
					},
					{
						"name": "FORMAT",
						"type": "String"
					},
					{
						"name": "MDL",
						"type": "String"
					},
					{
						"name": "MODIFICATIONDATE",
						"type": "String"
					}
				],
				"typeProperties": {
					"tableName": "[concat('[', 'dbo].[STA_Product]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/DWH_prod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OracleDynamicSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"typeProperties": {
					"tableName": "dummytable"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_y13')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Oracle1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "OracleTable",
				"structure": [
					{
						"name": "ITEMNUMBER",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPE",
						"type": "String"
					},
					{
						"name": "CHAPEAU",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPEDESCFR",
						"type": "String"
					},
					{
						"name": "PRODUCTTYPEDESCNL",
						"type": "String"
					},
					{
						"name": "MOUNTING",
						"type": "String"
					},
					{
						"name": "MOUNTINGTIME",
						"type": "Double"
					},
					{
						"name": "MOUNTINGLOCATION",
						"type": "String"
					},
					{
						"name": "DESCRIPTIONFR",
						"type": "String"
					},
					{
						"name": "DESCRIPTIONNL",
						"type": "String"
					},
					{
						"name": "LENGTH",
						"type": "Double"
					},
					{
						"name": "WIDTH",
						"type": "Double"
					},
					{
						"name": "HEIGHT",
						"type": "Double"
					},
					{
						"name": "VOLUME",
						"type": "Double"
					},
					{
						"name": "WEIGHT",
						"type": "Double"
					},
					{
						"name": "NETWEIGHT",
						"type": "Double"
					},
					{
						"name": "SUPPLIER",
						"type": "String"
					},
					{
						"name": "COLLISIMABLE",
						"type": "String"
					},
					{
						"name": "DELIVERY",
						"type": "String"
					},
					{
						"name": "DELIVERYDESCFR",
						"type": "String"
					},
					{
						"name": "DELIVERYDESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL1",
						"type": "String"
					},
					{
						"name": "LEVEL1DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL1DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL2",
						"type": "String"
					},
					{
						"name": "LEVEL2DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL2DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL3",
						"type": "String"
					},
					{
						"name": "LEVEL3DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL3DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL4",
						"type": "String"
					},
					{
						"name": "LEVEL4DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL4DESCNL",
						"type": "String"
					},
					{
						"name": "LEVEL5",
						"type": "String"
					},
					{
						"name": "LEVEL5DESCFR",
						"type": "String"
					},
					{
						"name": "LEVEL5DESCNL",
						"type": "String"
					},
					{
						"name": "INSURED",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOOD",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOODDESCFR",
						"type": "String"
					},
					{
						"name": "DANGEROUSGOODDESCNL",
						"type": "String"
					},
					{
						"name": "HEATRESISTANT",
						"type": "String"
					},
					{
						"name": "BUYER",
						"type": "String"
					},
					{
						"name": "NUMBEROFPARCELS",
						"type": "String"
					},
					{
						"name": "GIFTTYPE",
						"type": "String"
					},
					{
						"name": "GIFTTYPEDESCFR",
						"type": "String"
					},
					{
						"name": "GIFTTYPEDESCNL",
						"type": "String"
					},
					{
						"name": "ITEM",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITY",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITYDESCFR",
						"type": "String"
					},
					{
						"name": "PICKINGMODALITYDESCNL",
						"type": "String"
					},
					{
						"name": "STOCKTYPE",
						"type": "String"
					},
					{
						"name": "TREATMENTCODE",
						"type": "String"
					},
					{
						"name": "ALLOWEDONWEB",
						"type": "String"
					},
					{
						"name": "CIRCUIT",
						"type": "String"
					},
					{
						"name": "SUISTOCK",
						"type": "String"
					},
					{
						"name": "TYPEDEPART",
						"type": "String"
					},
					{
						"name": "AV",
						"type": "String"
					},
					{
						"name": "LDF",
						"type": "String"
					},
					{
						"name": "STATUS",
						"type": "String"
					},
					{
						"name": "STATUSDESCFR",
						"type": "String"
					},
					{
						"name": "STATUSDESCNL",
						"type": "String"
					},
					{
						"name": "EAN",
						"type": "String"
					},
					{
						"name": "EANLOG",
						"type": "String"
					},
					{
						"name": "BRAND",
						"type": "String"
					},
					{
						"name": "BRANDDESCFR",
						"type": "String"
					},
					{
						"name": "BRANDDESCNL",
						"type": "String"
					},
					{
						"name": "MODELNUMBER",
						"type": "String"
					},
					{
						"name": "FOSTPLUS",
						"type": "String"
					},
					{
						"name": "VALORLUX",
						"type": "String"
					},
					{
						"name": "BEBATCODE1",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY1",
						"type": "String"
					},
					{
						"name": "BEBATTYPE1",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY1",
						"type": "String"
					},
					{
						"name": "BEBATCODE2",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY2",
						"type": "String"
					},
					{
						"name": "BEBATTYPE2",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY2",
						"type": "String"
					},
					{
						"name": "BEBATCODE3",
						"type": "String"
					},
					{
						"name": "BEBATFAMILY3",
						"type": "String"
					},
					{
						"name": "BEBATTYPE3",
						"type": "String"
					},
					{
						"name": "BEBATQUANTITY3",
						"type": "String"
					},
					{
						"name": "ABCCLASSIFICATION",
						"type": "String"
					},
					{
						"name": "FOODCONTACT",
						"type": "String"
					},
					{
						"name": "FOODSUPPLEMENT",
						"type": "String"
					},
					{
						"name": "FOODONLY",
						"type": "String"
					},
					{
						"name": "COSMETIC",
						"type": "String"
					},
					{
						"name": "ENERGIESIGN",
						"type": "String"
					},
					{
						"name": "SARVALUEGSM",
						"type": "String"
					},
					{
						"name": "MEDICALUSE",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARUNIGRO",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTY",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU1",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE1",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU2",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE2",
						"type": "String"
					},
					{
						"name": "NUMBERMONTHSWARMANU3",
						"type": "String"
					},
					{
						"name": "TYPEWARRANTEE3",
						"type": "String"
					},
					{
						"name": "NISCODE",
						"type": "String"
					},
					{
						"name": "APPROVISIONNEUR",
						"type": "String"
					},
					{
						"name": "PRODUITCOMPOSE",
						"type": "String"
					},
					{
						"name": "FORMAT",
						"type": "String"
					},
					{
						"name": "MDL",
						"type": "String"
					},
					{
						"name": "MODIFICATIONDATE",
						"type": "String"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Oracle1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DWH_prod_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWH_test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('DWH_test_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Oracle1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('Oracle1_connectionString')]"
				},
				"connectVia": {
					"referenceName": "NeeetLaptopDDH",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/NeeetLaptopDDH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NeeetLaptopDDH')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}